# Data

Source: https://www.kaggle.com/mrpantherson/dnd-5e-monsters

# Clean

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [56]:
# Read in data
df = pd.DataFrame(pd.read_csv('../resources/dnd_monsters.csv'))
df.head()

,name,url,cr,type,size,ac,hp,speed,align,legendary,source,str,dex,con,int,wis,cha
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,1/4,humanoid (aarakocra),Medium,12,13,fly,neutral good,NaN,Monster Manual (BR),10.0,14.0,10.0,11.0,12.0,11.0
1,abjurer,NaN,9,humanoid (any race),Medium,12,84,NaN,any alignment,NaN,Volo's Guide to Monsters,NaN,NaN,NaN,NaN,NaN,NaN
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10,aberration,Large,17,135,swim,lawful evil,Legendary,Monster Manual (SRD),21.0,9.0,15.0,18.0,15.0,18.0
3,abominable-yeti,NaN,9,monstrosity,Huge,15,137,NaN,chaotic evil,NaN,Monster Manual,NaN,NaN,NaN,NaN,NaN,NaN
4,acererak,NaN,23,undead,Medium,21,285,NaN,neutral evil,NaN,Adventures (Tomb of Annihilation),NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Remove unwanted columns
df = df.drop(columns=['url','type','speed','align','source'])
df.head()

,name,cr,size,ac,hp,legendary,str,dex,con,int,wis,cha
0,aarakocra,1/4,Medium,12,13,NaN,10.0,14.0,10.0,11.0,12.0,11.0
1,abjurer,9,Medium,12,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aboleth,10,Large,17,135,Legendary,21.0,9.0,15.0,18.0,15.0,18.0
3,abominable-yeti,9,Huge,15,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,acererak,23,Medium,21,285,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Convert legendary status to boolean
df['legendary'] = df['legendary'].replace({np.nan:0,'Legendary':1})

# Convert size descriptor to int values
df['size'] = df['size'].replace({'Tiny':1,'Small':2,'Medium':3,'Large':4,'Huge':5,'Gargantuan':6})

# Change CR fractions to float
df['cr'] = df['cr'].replace({'1/8':'.125','1/4':'.25','1/2':'.5'}).astype('float64')

# Drop columns with any null values
df = df.dropna(how='any')

df

,name,cr,size,ac,hp,legendary,str,dex,con,int,wis,cha
0,aarakocra,0.25,3,12,13,0,10.0,14.0,10.0,11.0,12.0,11.0
2,aboleth,10.00,4,17,135,1,21.0,9.0,15.0,18.0,15.0,18.0
5,acolyte,0.25,3,10,9,0,10.0,10.0,10.0,10.0,14.0,11.0
6,adult-black-dragon,14.00,5,19,195,1,23.0,14.0,21.0,14.0,13.0,17.0
8,adult-blue-dragon,16.00,5,19,225,1,25.0,10.0,23.0,16.0,15.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...
753,yuan-ti-malison,3.00,3,12,66,0,16.0,14.0,13.0,14.0,12.0,16.0
755,yuan-ti-nightmare-speaker,4.00,3,14,71,0,16.0,14.0,13.0,14.0,12.0,16.0
757,yuan-ti-pureblood,1.00,3,11,40,0,11.0,12.0,11.0,13.0,12.0,14.0
759,zariel,26.00,4,21,580,1,27.0,24.0,28.0,26.0,27.0,30.0
760,zombie,0.25,3,8,22,0,13.0,6.0,16.0,3.0,6.0,5.0

# Explore

# Features and ML training